<!-- girls rooms -->
<div class="container mt-2 mb-5">
    <div class="col-lg-6 text-center bg-light my-3" style="margin:auto;border-top: 2px groove black;border-bottom: 2px groove black;">     
        <h2 class="text-center my-2"><span id="catTitle">Girls Rooms</span></h2>
    </div>
    <div class="row justify-content-between mx-5">
        <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="/../assets/img/girlsRoom1.jpg" class="card-img-top" alt="image of Room" width="249px" height="270px">
                <div class="card-body">
                    <h1 class="card-title mb-0">Super Delux Room </h1><em class="small">(one person room)</em> <hr style="margin:revert;">
                    <h2 class="mb-0"><span style="color: #a14c4c">₹ {{prices.superDeluxe + prices.foodPackage}}</span><em class="text-muted ml-2" style="font-size: 13px;">~including food</em></h2>
                    <h2 class="card-text"><span class="badge badge-pill badge-primary" style="color: black;font-weight: 500;">Available Room: {{availability.girlsSuperDeluxeRooms}}</span></h2>   
                </div>
            </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="/../assets/img/girlsRoom2.jpg" class="card-img-top" alt="image of Room" width="249px" height="270px">
                <div class="card-body">
                    <h1 class="card-title mb-0">Delux Room </h1><em class="small">(two person room)</em> <hr style="margin:revert;">
                    <h2 class="mb-0"><span style="color: #a14c4c">₹ {{prices.deluxe + prices.foodPackage}}</span><em class="text-muted ml-2" style="font-size: 13px;">~including food</em></h2>
                    <h2 class="card-text"><span class="badge badge-pill badge-primary" style="color: black;font-weight: 500;">Available Room: {{availability.girlsDeluxeRooms}}</span></h2>   
                </div>
            </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="/../assets/img/girlsRoom3.jpg" class="card-img-top" alt="image of Room" width="249px" height="270px">
                <div class="card-body">
                    <h1 class="card-title mb-0">Standard Room </h1><em class="small">(three person room)</em> <hr style="margin:revert;">
                    <h2 class="mb-0"><span style="color: #a14c4c">₹ {{prices.standard + prices.foodPackage}}</span><em class="text-muted ml-2" style="font-size: 13px;">~including food</em></h2>
                    <h2 class="card-text"><span class="badge badge-pill badge-primary" style="color: black;font-weight: 500;">Available Room: {{availability.girlsStandardRooms}}</span></h2>   
                </div>
            </div>
        </div>
    </div>
</div>

<!-- boys rooms -->
<div class="container mt-3 mb-5">
    <div class="col-lg-6 text-center bg-light my-3" style="margin:auto;border-top: 2px groove black;border-bottom: 2px groove black;">     
        <h2 class="text-center my-2"><span id="catTitle">Boys Rooms</span></h2>
    </div>
    <div class="row justify-content-between mx-5">
        <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="/../assets/img/boysRoom1.jpg" class="card-img-top" alt="image of Room" width="249px" height="270px">
                <div class="card-body">
                    <h1 class="card-title mb-0">Super Delux Room </h1><em class="small">(one person room)</em> <hr style="margin:revert;">
                    <h2 class="mb-0"><span style="color: #a14c4c">₹ {{prices.superDeluxe + prices.foodPackage}}</span><em class="text-muted ml-2" style="font-size: 13px;">~including food</em></h2>
                    <h2 class="card-text"><span class="badge badge-pill badge-primary" style="color: black;font-weight: 500;">Available Room: {{availability.boysSuperDeluxeRooms}}</span></h2>   
                </div>
            </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="/../assets/img/boysRoom2.jpg" class="card-img-top" alt="image of Room" width="249px" height="270px">
                <div class="card-body">
                    <h1 class="card-title mb-0">Delux Room </h1><em class="small">(two person room)</em> <hr style="margin:revert;">
                    <h2 class="mb-0"><span style="color: #a14c4c">₹ {{prices.deluxe + prices.foodPackage}}</span><em class="text-muted ml-2" style="font-size: 13px;">~including food</em></h2>
                    <h2 class="card-text"><span class="badge badge-pill badge-primary" style="color: black;font-weight: 500;">Available Room: {{availability.boysDeluxeRooms}}</span></h2>   
                </div>
            </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="/../assets/img/boysRoom3.jpg" class="card-img-top" alt="image of Room" width="249px" height="270px">
                <div class="card-body">
                    <h1 class="card-title mb-0">Standard Room </h1><em class="small">(three person room)</em> <hr style="margin:revert;">
                    <h2 class="mb-0"><span style="color: #a14c4c">₹ {{prices.standard + prices.foodPackage}}</span><em class="text-muted ml-2" style="font-size: 13px;">~including food</em></h2>
                    <h2 class="card-text"><span class="badge badge-pill badge-primary" style="color: black;font-weight: 500;">Available Room: {{availability.boysStandardRooms}}</span></h2>   
                </div>
            </div>
        </div>
    </div>
</div>

<!-- hostel another detail -->
<div class="container mt-3 mb-5">
    <div class="row justify-content-center">
        <!-- hostel facilities -->
        <div class="col-lg-3">
            <div class="text-center bg-light my-3" style="margin:auto;border-top: 2px groove black;border-bottom: 2px groove black;">
                <h2 class="text-center my-2"><span id="catTitle">Hostel Facilities</span></h2>
            </div>
            <div class="list-group">
                <a class="list-group-item list-group-item-action list-group-item-primary">WiFi Zone</a>
                <a class="list-group-item list-group-item-action list-group-item-success">Doctor on call</a>
                <a class="list-group-item list-group-item-action list-group-item-primary">Cafeteria</a>
                <a class="list-group-item list-group-item-action list-group-item-success">Huge Dining hall</a>
                <a class="list-group-item list-group-item-action list-group-item-primary">24 Hours Security</a>
                <a class="list-group-item list-group-item-action list-group-item-success">Garden Area</a>
                <a class="list-group-item list-group-item-action list-group-item-primary">Walk way</a>
                <a class="list-group-item list-group-item-action list-group-item-success">Spacious and comfortable Rooms</a>
                <a class="list-group-item list-group-item-action list-group-item-primary">Peaceful and natural Environment for study</a>
            </div>
        </div>
        <!-- canteen photo -->
        <div class="col-lg-5 pt-4 pt-lg-0 content">
            <div class="skills-content mt-5">
                <img src="/../assets/img/dining.jpg" alt="" style="width:100%;">
                <em>*Food Package includes Breakfast, Lunch and Dinner.</em>
            </div>
        </div>
        <!-- hostel fees structure -->
        <div class="col-lg-3">
            <div class="text-center bg-light my-3" style="margin:auto;border-top: 2px groove black;border-bottom: 2px groove black;">
                <h2 class="text-center my-2"><span id="catTitle">Fees Structure</span></h2>
            </div>
            <div class="list-group">
                <a class="list-group-item list-group-item-action flex-column align-items-start list-group-item-primary">
                    <div class="d-flex w-100 justify-content-between">
                        <h4 class="mb-1 font-weight-bold">Rooms</h4>
                        <small>per semester</small>
                    </div>
                    <h3 class="mb-0">Standard Room : <span style="color: #a14c4c">₹ {{prices.standard}}</span></h3>
                    <h3 class="mb-0">Delux Room : <span style="color: #a14c4c">₹ {{prices.deluxe}}</span></h3>
                    <h3 class="mb-0">Super Delux Room : <span style="color: #a14c4c">₹ {{prices.superDeluxe}}</span></h3>
                </a>
                <a class="list-group-item list-group-item-action flex-column align-items-start list-group-item-success">
                    <div class="d-flex w-100 justify-content-between">
                    <h4 class="mb-1 font-weight-bold">Food Package</h4>
                    <small>per semester</small>
                    </div>
                    <h3 class="mb-0"><span style="color: #a14c4c">₹ {{prices.foodPackage}}</span></h3>
                </a>
                <a class="list-group-item list-group-item-action flex-column align-items-start list-group-item-primary">
                    <div class="d-flex w-100 justify-content-between">
                        <h4 class="mb-1 font-weight-bold">Electricity Bill </h4>
                        <small>per unit</small>
                    </div>
                    <h3 class="mb-0"><span style="color: #a14c4c">₹ {{prices.electricityBillPerUnit}}</span></h3>
                </a>
                <a class="list-group-item list-group-item-action flex-column align-items-start list-group-item-success">
                    <div class="d-flex w-100 justify-content-between">
                        <h4 class="mb-1 font-weight-bold">Security Fees</h4>
                        <small>onetime(Refundable)</small>
                    </div>
                    <h3 class="mb-0"><span style="color: #a14c4c">₹ {{prices.securityDeposit}}</span></h3>
                </a>
            </div>
        </div>
    </div>
</div>
    
