<div class="row" style="width: 100.81%;">
    <aside class="col-lg-3" style="width: 335px;"> 
        <admin-hostel-sidebar></admin-hostel-sidebar>
    </aside>
    <main class="col-lg-9" style="min-height: 100vh;">

        <div class="container mt-4">
            <div class="row">

                <div class="col-sm-6 col-md-4">
                    <div class="div-box">
                        <h3 class="User-name"><strong>Super Delux Room</strong></h3>
                        <h4 class="designation"> <strong>Boys</strong> Available Rooms: <span class="badge badge-pill badge-primary" style="color: black;font-weight: 500;">{{availability.boysSuperDeluxeRooms}}</span></h4>
                        <h4 class="designation"> <strong>Girls</strong> Available Rooms: <span class="badge badge-pill badge-primary" style="color: black;font-weight: 500;">{{availability.girlsSuperDeluxeRooms}}</span></h4>
                        <div class="profile-details">
                            <ul>
                                <li><a routerLink="/admin/addStudent"><i class="fas fa-home"></i> Add Student</a></li>
                                <li><a routerLink="/admin/viewStudent"><i class="fas fa-user"></i> View Student</a></li>
                                <li><a routerLink="/admin/updateStudent"><i class="fas fa-user-edit"></i> Update/Remove Student</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            
                <div class="col-sm-6 col-md-4">
                    <div class="div-box">
                    <h3 class="User-name"><strong>Delux Room</strong></h3>
                    <h4 class="designation"> <strong>Boys</strong> Available Rooms: <span class="badge badge-pill badge-primary" style="color: black;font-weight: 500;">{{availability.boysDeluxeRooms}}</span></h4>
                    <h4 class="designation"> <strong>Girls</strong> Available Rooms: <span class="badge badge-pill badge-primary" style="color: black;font-weight: 500;">{{availability.girlsDeluxeRooms}}</span></h4>
                    <div class="profile-details">
                        <ul>
                        <li><a routerLink="/admin/addStudent"><i class="fas fa-home"></i> Add Student</a></li>
                        <li><a routerLink="/admin/viewStudent"><i class="fas fa-user"></i> View Student</a></li>
                        <li><a routerLink="/admin/updateStudent"><i class="fas fa-user-edit"></i> Update/Remove Student</a></li>
                        </ul>
                    </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="div-box">
                    <h3 class="User-name"><strong>Standard Room</strong></h3>
                    <h4 class="designation"> <strong>Boys</strong> Available Rooms: <span class="badge badge-pill badge-primary" style="color: black;font-weight: 500;">{{availability.boysStandardRooms}}</span></h4>
                    <h4 class="designation"> <strong>Girls</strong> Available Rooms: <span class="badge badge-pill badge-primary" style="color: black;font-weight: 500;">{{availability.girlsStandardRooms}}</span></h4>
                    <div class="profile-details">
                        <ul>
                        <li><a routerLink="/admin/addStudent"><i class="fas fa-home"></i> Add Student</a></li>
                        <li><a routerLink="/admin/viewStudent"><i class="fas fa-user"></i> View Student</a></li>
                        <li><a routerLink="/admin/updateStudent"><i class="fas fa-user-edit"></i> Update/Remove Student</a></li>
                        </ul>
                    </div>
                    </div>
                </div>
            
            </div>
        </div>
        
    </main>
</div>
