<div class="dkp-footer">
<!-- Footer -->
<footer class="page-footer font-small text-light bg-dark">

    <!-- Footer Elements -->
    <div class="container">
  
      <!-- Grid row-->
      <div class="row">
  
        <!-- Grid column -->
        <div class="p-5">
          <div class="d-flex justify-content-center">
  
            <!-- Facebook -->
            <a class="fb-ic" href="https://www.facebook.com/darshan.parmar.9699523/" target="_blank">
              <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic" href="https://twitter.com/{{userName}}" target="_blank">
              <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic" href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to={{email}}" target="_blank">
              <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic" href="https://in.linkedin.com/in/{{userName}}" target="_blank">
              <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic" href="https://instagram.com/{{userName}}" target="_blank">
              <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!--GitHub-->
            <a class="git-ic" href="https://github.com/{{userName}}" target="_blank">
              <i class="fab fa-github fa-lg white-text fa-2x"> </i>
            </a>
          </div>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row-->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="background-color: black;">© 2021 Copyright:
      <a routerLink="/"> Royal Care</a>
    </div>
    <!-- Copyright -->
  
</footer>
<!-- Footer -->
</div>
