<div class="row" style="width: 100.80%;">
    <aside class="col-lg-3" style="width: 335px;"> 
        <admin-hostel-sidebar></admin-hostel-sidebar>
    </aside>
    <main class="col-lg-9">

        <div class="container d-flex justify-content-center my-5">
            <img src="../../../assets/img/boysRooms.png" alt="" style="width: 100%;">
        </div>
        <div class="container d-flex justify-content-center my-5">
            <img src="../../../assets/img/girlsRooms.png" alt="" style="width: 100%;">
        </div>
        
    </main>
</div>