<div class="row" style="width: 100.80%;">
    <aside class="col-lg-3" style="width: 335px;"> 
        <admin-hostel-sidebar></admin-hostel-sidebar>
    </aside>
    <main class="col-lg-9" style="min-height: 80vh;">

        <div class="container-fluid" style="margin-top:98px">
            <div class="row">
                <div class="card col-lg-12">
                    <div class="card-body">
                        <table *ngIf="users.length" class="table-striped table-bordered col-md-12 text-center">
                            <thead style="background-color: rgb(111 202 203);">
                                <tr>
                                    <th>No</th>
                                    <th style="width:7%">Photo</th>
                                    <th>Username</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone No.</th>
                                    <th>Type</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of users;let i = index">
                                    <td>{{i + 1}}</td>
                                    <td><img src="../../assets/img/profileImg/{{user.username}}.jpg" onerror="src='../../assets/img/profileImg/profilePic.jpg'" alt="image for this user" width="100px" height="100px"></td>
                                    <td>{{user.username}}</td>
                                    <td>
                                        <p>First Name : <b>{{user.firstName}}</b></p>
                                        <p>Last Name : <b>{{user.lastName}}</b></p>
                                    </td>
                                    <td>{{user.email}}</td>
                                    <td>{{user.mobileNumber}}</td>
                                    <td>{{user.role}}</td>
                                    <td>
                                        <button name="removeUser" class="btn btn-sm btn-danger" style="margin-left:9px;">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
     

    </main>
</div>

